<div class="section">
    <div class="subsection">{{'Chronometers' | translate}}</div>
    <div class="chronometer-list">
        <ul class="chronometer-list" >
            <li ng-repeat="chronometer in board.chronometers">
                <div>
                    <span chronometer="chronometer" delete="deleteChronometer($chronometer)"></span>
                </div>
            </li>
        </ul>
        <div class="dummy-chronometer" ng-click="pushChronometer()">
            {{'New chronometer' | translate}}
        </div>
</div>